.carouselContainer {
padding: 2rem;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

main {
    padding: 5px 0%;
}

.carouselWrapper {
    position: relative;
    max-width: 80vh;
    margin: 0 0%;
    margin-right: 2%;
}

.carousel {
    width: 100%;
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.carouselTitle {
    font-family: 'Merriweather', serif;
    font-size: 1.75vw;
    position: absolute;
    left: 10%;
    bottom: 10%;
    color: white;
}

.PostTitle {
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel img {
    flex: 1 0 100%;
    scroll-snap-align: start;
}

.carouselNav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.carouselNav a {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.carouselNav a:hover {
    opacity: 1;
}

.latestPosts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 0%;
    padding: 0%;
    grid-gap: 10px;
}

.postContainer {
    padding: 0px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    gap: 10px;
    max-height: 65px;
    max-width: 500px;
    height: auto;
    width: auto;
}

.postContainer img {
    padding: 0px;
    height: 100%;
    width: 35%;
    max-width: 30%;
}

h2, h1 {
    font-family: 'Merriweather', serif;
}

.postContainer h2 {
    font-family: 'Merriweather', serif;
    font-size: 1.3vh;
    color: black;
    font-weight: 600;
    margin-right: 1%;
}

.arrow {
    border: solid #fff;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 10px;
    margin-right: 0;
    position: absolute;
    top: 45%;
    z-index: 0;
    transform: translateY(-50%);
    opacity: 0.9;
    cursor: pointer;
}

.right {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 1.5%;
  }

.left {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 0;
    margin-right: 1.5%;
  }

.topL-section {
    flex-basis: 50%;
}

.topR-section {
    flex-basis: 35%;
}

.bottom-section {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    flex-basis: 100%;
    margin-top: 1%;
}

.box-shadow {
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    transition: 0.3s;
}

.box-shadow:hover {
    cursor: pointer;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 8px 32px 0px, rgba(14, 30, 37, 0.32) 0px 6px 24px 0px;
}

.bottomSectionDiv {
    overflow: hidden;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 350px;
    margin: 10px;
    width: 330px;
}

.bottomSectionDiv h1 {
    font-size: 2vh;
    margin: 2%;
}

.bottomSectionDiv img {
    border-radius: 3% 3% 0% 0%;
    height: 70%;
    width: auto;
}

.latestPosts .postContainer:nth-child(n + 11) {
    display: none;
  }


  
  @media screen and (min-width: 2550px) {
    .postContainer {
        max-height: 85px;
        max-width: 600px;
    }
    .bottomSectionDiv {
        overflow: hidden;
        border-radius: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 550px;
        margin: 10px;
        width: 500px;
    }
}
@media screen and (max-width: 575.98px) {
    .carouselWrapper {
        max-width: 98%;
        margin: 0;
    }
    .carouselContainer {
        padding: 0;
    }
    .carouselNav {
        display: none;
    }
    .carouselTitle {
        font-size: 2vh;
    }
    .latestPosts {
        margin-top: 2%;
        flex-basis: 96%;
        gap: 8px;
    }
    .postContainer  h2{
        font-size: 1vh;
    }
    .carousel img {
        max-width: 26rem;
        }
}